@import url('../assets/styles/variables.css');
:root {
  /**
  * COLOR
  **/
  --ANNEXE1       : #D17A44;
  --ANNEXE2       : #FFAE58;
  --BLACK         : #0D1F26;
  --GREY          : #706458;
  --PRIMARY       : #EF9C42;
  --SECONDARY     : #4EB1CF;
  --TERTIARY      : #6BC4CF;
  --WHITE         : #FBF3EA;

  /**
  * TYPOGRAPHY
  **/
  --PARAGRAPH     : 1rem 'Luciole';
  --INPUT         : 1rem/1.5rem 'Luciole';
  --BUTTON        : 1rem 'Luciole-Bold';
  --TITLE          : 1.5rem 'Luciole-Bold';
}
:root {
  --max-width: 1100px;

  background-color: var(--WHITE);
  color: var(--BLACK);
  font: var(--PARAGRAPH);
}

body, html {
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: var(--WHITE);
    background-color: var(--BLACK);
  }
}

html,
body {
  overflow: hidden;
  margin: 0;
  height: 100%;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
