.loading__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.navbar__searchbar {
    background-color: var(--WHITE);
    border: solid 0.125rem var(--BLACK);
    border-radius: 2rem;
    color: var(--BLACK) !important;
    font: var(--INPUT);
    padding: 1rem;
    min-width: 50%;
    max-width: 10rem;
}

.navbar__searchbar:focus {
    border-width: 0.188rem;
}