@font-face {
    font-family: 'Luciole';
    src: url('../fonts/Luciole-Regular.ttf') format('TrueType');
}
@font-face {
    font-family: 'Luciole-Italic';
    src: url('../fonts/Luciole-Regular-Italic.ttf') format('TrueType');
}
@font-face {
    font-family: 'Luciole-Bold';
    src: url('../fonts/Luciole-Bold.ttf') format('TrueType');
}
@font-face {
    font-family: 'Luciole-Bold-Italic';
    src: url('../fonts/Luciole-Bold-Italic.ttf') format('TrueType');
}